body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.row {
    display: flex;
    flex: 0 2 auto;
    justify-content: space-between;
}

.cell {
    flex: 0 2 auto;
    text-align: center;
    height: 20px;
    width: 20px; 
    border: 1px solid black;
}

/*.cell:hover {
    background-color: lightgray;
}*/

div#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}
.btn {
    flex: 1;
    height: 100%;
    padding: 10px;
}

